.wrapper {
    width: 700px;
    margin: 50px auto;
    box-shadow: 1rem 1.2rem 1rem #575757;
}

@media (max-width: 768px) {
    .wrapper {
        width: 90%;
    }
}

.name {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: green;
    margin: 20px 0;
}

.description {
    padding: 20px;
    font-style: italic;
}

.amount {
    margin: 20px auto;
    font-size: 30px;
    font-weight: bold;
    color: #74b85f;
    text-align: center;
}

.closeButton {
    text-align: center;
    padding-bottom: 40px;
}